/* @import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fontlibrary.org//face/acari-sans-neue');
/* body{
    background-color: rgb(255, 255, 240);
} */
button:where(.astro-v37mnknz)[data-open-modal] {
    border-radius: 2rem;
    max-width:30rem;
}

.astro-m46x6ez3{
    font-family:'AcariSansNeueRegular', sans-serif; 
}
h1{
    font-family: 'AcariSansNeueRegular',sans-serif;
}

.header{
    background: none;
    border:0px;
}
.astro-m46x6ez3{
    color:#f8961e;
    font-weight: 200px;
    font-family: 'Montserrat', sans-serif;   
}
.astro-v37mnknz{
    margin-left:30px;
    justify-content: center;  
}
.sidebar{
    border: none;
}